div{
    display: inline-block;
}

.site-content{
    width: 200px;
}
.red {
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.purple{
    background-color: purple;
}